allow_anonymous = {{ ALLOW_ANONYMOUS | default("off") }}
allow_register_during_netsplit = off
allow_publish_during_netsplit = off
allow_subscribe_during_netsplit = off
allow_unsubscribe_during_netsplit = off
allow_multiple_sessions = off
max_inflight_messages = 20
max_online_messages = 1000
max_offline_messages = 1000
message_size_limit = 0
upgrade_outgoing_qos = off
listener.max_connections = 10000
listener.nr_of_acceptors = 10
listener.http.default = {{ LISTEN_IP }}:8888
listener.mountpoint = off
systree_enabled = on
systree_interval = 20000
graphite_enabled = off
graphite_host = localhost
graphite_port = 2003
graphite_interval = 20000
shared_subscription_policy = prefer_local
plugins.vmq_passwd = off
plugins.vmq_acl = on
plugins.vmq_diversity = off
plugins.vmq_webhooks = off
plugins.vmq_bridge = off
vmq_acl.acl_file = /etc/vernemq/vmq.acl
vmq_acl.acl_reload_interval = 10
vmq_diversity.script_dir = /usr/share/vernemq/lua
vmq_diversity.auth_postgres.enabled = off
vmq_diversity.auth_mysql.enabled = off
vmq_diversity.auth_mongodb.enabled = off
vmq_diversity.auth_redis.enabled = off
log.console = file
log.console.file = /var/log/vernemq/console.log
log.error.file = /var/log/vernemq/error.log
log.console.level = info
log.syslog = off
log.crash = on
nodename = VerneMQ@{{ SELF_IP }}
distributed_cookie = vmq
erlang.async_threads = 64
erlang.max_ports = 262144
leveldb.maximum_memory.percent = 70
max_inflight_messages=0
erlang.distribution.port_range.minimum = 9100
erlang.distribution.port_range.maximum = 9109
listener.tcp.default = {{ LISTEN_IP }}:1883
listener.ws.default = {{ LISTEN_IP }}:8080
listener.vmq.clustering = {{ SELF_IP }}:44053
listener.http.metrics = {{ LISTEN_IP }}:8888
{% if SSL_AUTH == "yes" %}
listener.ssl.default = {{ LISTEN_IP }}:8883
listener.ssl.cafile = {{ SSL_CA }}
listener.ssl.certfile = {{ SSL_CERT }}
listener.ssl.keyfile = {{ SSL_KEY }}
listener.ssl.require_certificate = on
listener.ssl.use_identity_as_username = on
{% endif %}
